@inherits LayoutComponentBase

<div class="main">
    <div class="top-row" id="entete">
        <div class="col-md-4">
            <a href="/" class="home">
                <i class="fas fa-user-tie"></i>
                Mon Assistant Catalys
            </a>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <a href="/login" class="config">
				<i class="fas fa-cog"></i>
                Configuration
            </a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>