@page "/login"
@inject NavigationManager NavigationManager

<br/>
<p>Veuillez-vous authentifier pour accèder à la page de configuration.</p>

<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="formulaire_admin">
                <form action="">
                    <fieldset>
                        <legend>Connexion administration</legend>
                        <label for="identifiant">Identifiant</label>
                        <input id="identifiant" placeholder="" autofocus="" required=""><br>
                        <label for="mdp">Mot de passe</label>
                        <input id="mdp" type="password" placeholder="" required=""><br>
                    </fieldset>
                    <!--Solution temporaire-->
                    <!--<p><input type="submit" value="Confirmer"></p>-->
                    <button class="btn btn-primary" @onclick="ToAuth">Confirmer</button>

                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

@code {

    private void ToAuth()
    {
        NavigationManager.NavigateTo("/configuration");
    }
}